In [2]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first = second
second = first
print('After swapping:', first, second)

Enter first number: 1
Enter second number: 5
Before swapping: 1 5
After swapping: 5 5

In [3]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Enter first number: 1
Enter second number: 2
Before swapping: 1 2
After swapping: 2 1

In [4]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Enter first number: 2
Enter second number: 2
Before swapping: 2 2
After swapping: 2 2

In [5]:
top_cities = ['Chicago','New York','Citi citi','Cincinatti','LA']
top_cities[1], top_cities[2] = top_cities[2], top_cities[1] #changing the list element order

In [6]:
print(top_cities)

['Chicago', 'Citi citi', 'New York', 'Cincinatti', 'LA']

In [7]:
top_cities.sort() # sorting a list

In [8]:
print(top_cities)

['Chicago', 'Cincinatti', 'Citi citi', 'LA', 'New York']