In [1]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first = second
second = first
print('After swapping:',first,second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 20

In [2]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:',first,second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [3]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first,second = second,first
print('After swapping:',first,second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [4]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Reno']
top_cities[0],top_cities[4] = top_cities[4],top_cities[0] #swapping list values as well - only in pairs?
print(top_cities)

['Reno', 'Los Angeles', 'Chicago', 'Houston', 'New York']

In [6]:
random_numbers = [1,7,6,-3,6,9,7,1,1,2,3,2]
random_numbers.sort()
print(random_numbers)

[-3, 1, 1, 1, 2, 2, 3, 6, 6, 7, 7, 9]

In [7]:
top_cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Reno']
top_cities[0],top_cities[4] = top_cities[4],top_cities[0] #swapping list values as well - only in pairs?
print(top_cities)
print(sorted(top_cities)) #sorts only for this singular print

['Reno', 'Los Angeles', 'Chicago', 'Houston', 'New York']
['Chicago', 'Houston', 'Los Angeles', 'New York', 'Reno']