In [1]:
emails = {
    'Anne Stahl': 'email1@email.com',
    'Peter Small': 'smalls@biggie.com',
    'Marky Mark': 'm&m@cadbury.com'         
}

In [2]:
print(emails['Marky Mark'])

m&m@cadbury.com

In [3]:
spanish_animals = {
    'dog':'el perro',
    'car': 'el gato',
    'horse': 'e; caballo',
    'horse': 'el coarse'
}

In [4]:
print(spanish_animals)

{'dog': 'el perro', 'car': 'el gato', 'horse': 'el coarse'}

In [5]:
# integers, floats, strings, tuples can be used in dict as keys

In [6]:
# all others can be used as values

In [7]:
city_ratings = {
    'Bangkok': [7,5,6,8],
    'Hanoi': [9,7,9,5],
    'Manila': [5,6,8,10]
    
    
}

In [8]:
city_ratings

{'Bangkok': [7, 5, 6, 8], 'Hanoi': [9, 7, 9, 5], 'Manila': [5, 6, 8, 10]}

In [9]:
city_ratings[1]

KeyError: 1

In [ ]:
city_ratings[1]