In [1]:
top_cities = ['New York City','Los Angeles','Chicago','Houston','Phoenix']

top_cities

In [2]:
top_cities

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [3]:
for city in top_cities:
    print('Current city:',city)

Current city: New York City
Current city: Los Angeles
Current city: Chicago
Current city: Houston
Current city: Phoenix

In [4]:
for city in top_cities:
    print('Qhere ya at?:',city)

Qhere ya at?: New York City
Qhere ya at?: Los Angeles
Qhere ya at?: Chicago
Qhere ya at?: Houston
Qhere ya at?: Phoenix

In [6]:
for number_of_city in range(len(top_cities)):
    print('City no. is at:',number_of_city+1)

City no. is at: 1
City no. is at: 2
City no. is at: 3
City no. is at: 4
City no. is at: 5

In [8]:
sum_of_spendings = 0

spendings = [1.23,2.45,2.67,3.66778,9]

In [9]:
for amount in spendings:
    yield amount

SyntaxError: 'yield' outside function (Temp/ipykernel_24552/1891676985.py, line 2)

In [10]:
for amount in spendings:
    sum_of_spendings += amount
print('Total spendings total to:', sum_of_spendings)

Total spendings total to: 19.017780000000002